# 服务端口
PORT=6688

# 允许的域名
ALLOWED_DOMAIN="*"

# 允许的主域名，填写格式为 imsyy.top
## 若填写该项，将忽略 ALLOWED_DOMAIN
ALLOWED_HOST=""

# ROBOT
DISALLOW_ROBOT=true

# Redis
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
REDIS_PASSWORD=""

# 缓存时长（ 秒 ）
CACHE_TTL=3600

# 请求超时（ 毫秒 ）
REQUEST_TIMEOUT=6000

# 是否输出日志
USE_LOG_FILE=true

# RSS Mode
RSS_MODE=false

# 七牛云/其他 CDN 回源鉴权服务
QINIU_ORIGIN_AUTH_SECRET=""
ORIGIN_AUTH_STATIC_HEADER="x-qiniu-origin-auth"
ORIGIN_AUTH_STATIC_QUERY="token"
ORIGIN_AUTH_SIGN_QUERY="sign"
ORIGIN_AUTH_SIGN_TIMESTAMP_QUERY="t"
ORIGIN_AUTH_SIGN_NONCE_QUERY="nonce"
ORIGIN_AUTH_TTL=300
