:root {
  --text-color: #333;
  --text-color-gray: #888;
  --text-color-hover: #fff;
  --icon-color: #565656;
  --text-other: #7d7d7d;
}
html.dark {
  --text-color: #F7F7FA;
  --text-color-gray: #888;
  --text-color-hover: #3c3c3c;
  --icon-color: #cbcbcb;
}
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
}
html {
  height: 100%;
}
body {
  background-color: var(--text-color-hover);
  color: var(--text-color);
  font-family: "PingFang SC", "Open Sans", "Microsoft YaHei", sans-serif;
  transition: background-color 0.5s, color 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-size: 16px;
}
.dark body {
  background-color: #2a2a2a;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
a {
  text-decoration: none;
  color: var(--text-color-gray);
  transition: all 0.5s ease;
}
a:hover {
  color: var(--text-color);
}
.ico {
  margin: 8rem 2rem 2rem 2rem;
  font-size: 6rem;
  color: var(--text-color-gray);
}
.title {
  font-size: 2rem;
  font-weight: bold;
}
.text {
  margin: 1rem;
}
/* 工具栏样式 */
.toolbar {
  display: inline-flex;
  justify-content: left;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #3d3d3d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1;
}

/* 小圆点样式 */
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 10px;
}

.red {
  background-color: #ff5f56;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #27c93f;
}

/* 终端样式 */
.terminal {
  position: relative;
  margin-top: 3.6rem;
}
.content {
  background-color: #282828;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: auto;
  font-family: monospace;
  font-size: 1rem;
  color: #00ff00;
  white-space: pre; /* 保留换行和空格 */
  width: 42.5rem;
  position: relative;
  transition: all 0.3s ease 0s;
}
.content.fail {
  color: #ffb62c;
}
#terminal-output {
  line-height: 1.5rem;
  margin: 30px 6px;
  height: 6rem;
}
.control {
  margin-top: 2rem;
  position: relative;
}
.control button {
  background-color: var(--text-color-hover);
  border: var(--text-color) solid;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease;
  margin: 1rem 0.2rem;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.control button:hover {
  border: var(--text-color) solid;
  background: var(--text-color);
  color: var(--text-color-hover);
}
.control button i {
  margin-right: 6px;
}
footer {
  line-height: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4.8rem;
}
footer .social {
  color: var(--icon-color);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
footer .social i {
  margin: 0 12px;
}
footer .point::before {
  content: "·";
  color: var(--text-color-gray);
}
.power,
.icp {
  font-size: 0.9rem;
}
.power a,
.icp a{
  color: var(--text-other)
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content {
    width: 36.5rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  body {
    font-size: 24px;
  }
  /* main {
    height: calc(100% - 28rem);
  } */
  .ico {
    font-size: 5rem;
    margin: 5rem 2rem 2rem 2rem;
  }
  .title {
    font-size: 1.8rem;
  }
  .content {
    width: 18.5rem;
    font-size: 1.05rem;
    overflow-x: scroll;
  }
  #terminal-output {
    line-height: 1.58rem;
    margin: unset;
  }
  .control button {
    font-size: 1rem;
  }
  .control button i {
    margin: unset;
  }
  .control button span {
    display: none;
  }
  .icp {
    font-size: 0.8rem;
  }
}